.services {
    &__section {
        padding: 90px 0 50px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 120px;
            background-color: $white;
            z-index: 0;
        }
        .section__title {
            margin-bottom: 80px;
        }
    }

    &__content {
        max-width: 982px;
        margin: auto;
        position: relative;
        z-index: 1;
        .row {
            margin-right: -10px;
            margin-left: -10px;
        }
        h6 {
            font-family: $font-primary;
            font-size: 22px;
            color: $grey-80;
            margin-bottom: 20px;
        }
        [class*="col"] {
            padding: 0 10px;
        }
    } 
    &__build {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 576px) {
    .services {
        &__section {
            padding-bottom: 0;
            padding-top: 50px;
            .section__title {
                margin-bottom: 48px;
            }
        }
        &__content {
            h6 {
                font-size: 18px;
            }
            .card {
                margin-bottom: 44px;
            }
        }
    }
}